Localization
{
	en-us
	{
		#LOC_PEW_Agent_title = Promethium Industries
		#LOC_PEW_Agent_description = Promethium industries is not responsible for any damage to any persons or objects of any kind and from any source that may possibly be traced to any of the items sold by our organization. All sales are final.


		//***Guns***//
			
		//Bradley
		#LOC_PEW_Bradley_title = M2 Bradley Turret
		#LOC_PEW_BradleyTOW_title = M2 Bradley Turret (TOW)
		#LOC_PEW_Bradley_description = This moderatly armored IFV turret comes with a 25mm Autocannon.
		#LOC_PEW_Bradley_weapon = Bradley
		#LOC_PEW_BradleyTOW_weapon = Bradley TOW
		#LOC_PEW_Bradley_Variant_ERA = Era
		#LOC_PEW_Bradley_Variant_NoERA = Bare

		//Eland
		#LOC_PEW_Eland_title = Eland 90B Turret
		#LOC_PEW_Eland_description = Only really useful for light tanks don't expect to do loads of damage against enemy armor but it is passable.
		#LOC_PEW_Eland_weapon = Eland
		#LOC_PEW_Eland_Variant_Camo = Camouflage
		#LOC_PEW_Eland_Variant_Plain = Plain Grey
		
		//T90MA
		#LOC_PEW_T90_title = T-90MS Turret
		#LOC_PEW_T90_description = A fully modernized 125mm smoothbore cannon on an armored turret. First bullet is a standard AP shell. The second, hesh. 
		#LOC_PEW_T90_weapon = T90
		
		//Challenger
		#LOC_PEW_Challenger_title = Challenger II Turret
		#LOC_PEW_Challenger_description =  A smoothbore 120mm cannon with greater range than most contemporaries. First bullet is a standard AP shell. The second, hesh. 
		#LOC_PEW_Challenger_weapon = Challenger II
		
		//GBU-53
		#LOC_KPDynamics_GBU53_title = GBU-53 "Stormbreaker" SDGM
		#LOC_KPDynamics_SDGM_description = A radar guided small diameter bomb. It has built-in folding wings that allow it to glide for long distances and hit targets with precision.
		#LOC_KPDynamics_SDGM_weapon = GBU-53
	}
}